
@import "compass";
@import "breakpoint";
@import "singularitygs";

// Globbing from within sub-folders only works with relative paths.
@import "../../variables/**/*";


.l-region--navigation {
		background: $brand-color;
}

.l-header {
		background: purple;
		margin:0 auto;
}


.l-branding {
		background: blue;
		margin:0 auto;
		@include breakpoint($tab, true) {
			width: $tab;
		}
		@include breakpoint($desk, true) {
			width: $desk;
		}
		@include breakpoint($touch) {
			background: pink;
		}
}


.l-page {
		@include background-grid;
		margin:0 auto;
		@include breakpoint($tab, true) {
			width: $tab;
		}
		@include breakpoint($desk, true) {
			width: $desk;
		}
		@include breakpoint($touch) {
			background: red;
		}
}

.l-main {
		@include clearfix;

}

@include breakpoint($tab, true) {
	.l-region--sidebar-first {
		background: purple;
		// Tablet: Span 3 columns, starting at the 10th column
		@include grid-span(4,9);
		// Sets padding equal to a gutter.
  		padding-left: gutter-span(0.5);
	}

	.l-content {
		background: lime;
		// Tablet: Span 8 columns, starting at the 1st column
		@include grid-span(8,1);
		// Sets padding equal to a gutter.
  		padding-left: gutter-span(0.5);
	}
}
@include breakpoint($desk, true) {
	.l-region--sidebar-first {
		background: orange;
		// Desktop: Span 4 columns, starting at the 9th column
		@include grid-span(4,9);
		// Sets padding equal to a gutter.
  		padding-left: gutter-span(0.5);
	}

	.l-content {
		background: yellow;
		// Desktop: Span 8 columns, starting at the 1st column
		@include grid-span(8,1);
		  // Sets padding equal to a gutter.
  		padding-left: gutter-span(0.5);

	}
}

.l-region--footer {
		background: maroon;
		// Sets padding equal to a gutter.
  		padding-left: gutter-span(0.5);
}
