.megamenu-skin-cce {
  background-color: white;
}

.megamenu-skin-cce a:hover{
  text-decoration:none;

.megamenu-skin-cce .megamenu-title {
  font-size:100%;
  font-weight:normal;
}
.megamenu-skin-cce .megamenu-bin {
  background-color:#EEEEEE;
  border:2px groove #7E7E7E;
  border-bottom-left-radius:0.583em;
  border-bottom-right-radius:0.583em;
  border-top-left-radius:0.583em;
  border-top-right-radius:0.583em;
}
.megamenu-skin-cce .megamenu-slot {
  border-bottom-color:#00ff09;
  border-bottom-style:solid;
  border-bottom-width:1px;
  margin-right:4px;
}
.megamenu-skin-cce .megamenu-slot-title, .megamenu-skin-cce .megamenu-slot-title a {
  background-color:#BBBBBB;
  color:#FFFFFF;
  font-size:100%;
  text-align:center;
  text-transform:uppercase;
}
.megamenu-skin-cce .megamenu-link {
  font-size:85%;

.megamenu-skin-cce .megamenu-items {
  float: right;
  
}
}
}