.node-form .form-region-right {
  width: 49%;
  float: right;
}

.node-form-has-region-right .form-region-main {
  float: left;
  width: 50%;
}

.node-form-has-region-right .form-region-footer {
  clear: both; padding-top: 10px; 
}

.node-form .form-region-right input,
.node-form .form-region-right text-area {
  max-width: 100%;
}
